services:
  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./src:/app
      - static_volume:/app/static
      - media_volume:/app/media
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db
    restart: unless-stopped

  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    restart: unless-stopped

  # Сервис для тестирования
  test:
    build: .
    command: >
      sh -c "python manage.py wait_for_db &&
             python manage.py test --settings=core.test_settings"
    volumes:
      - ./src:/app
    env_file:
      - .env.example
    depends_on:
      - db
    environment:
      - DJANGO_SETTINGS_MODULE=core.test_settings

volumes:
  postgres_data:
  static_volume:
  media_volume:
