[tool.black]
line-length = 88
target-version = ['py313']
include = '\.pyi?$'
extend-exclude = '''
/(
  | migrations
  | .venv
  | venv
  | env
)/
'''

[tool.isort]
profile = "black"
multi_line_output = 3
line_length = 88